## 문자열

대부분의 이스케이프 시퀀스 처리를 비활성화 : r (접두어) <br><br>
가변 문자열형은 없지만, 여러 단편으로부터 문자열을 효율적으로 구성하는데 str.join() 또는 io.StringIO 를 사용할 수 있습니다.

__str.capitalize()__
 - 첫 문자가 대문자이고 나머지가 소문자인 문자열의 복사본을 돌려줍니다.

In [16]:
word = "abc abc"
word.capitalize()

'Abc abc'

__str.center(width[, fillchar])__
 - 길이 width 인 문자열의 가운데에 정렬한 값을 돌려줍니다. 
 - 지정된 fillchar (기본값은 ASCII 스페이스)을 사용하여 채웁니다. 
 - width 가 len(s) 보다 작거나 같은 경우 원래 문자열이 반환됩니다.

In [17]:
word = "ejfklasdn  asdfasdf"
print(word)
print(word.center(len(word)+10))
print(word.center(len(word)+10, 'T'))

ejfklasdn  asdfasdf
     ejfklasdn  asdfasdf
TTTTTejfklasdn  asdfasdfTTTTT

__str.encode(encoding="utf-8", errors="strict")__
 - 문자열의 바이트열 객체로 인코딩된 버전을 돌려줍니다. 기본 인코딩은 'utf-8' 입니다.
 - errors 의 기본값은 'strict' 인데, 인코딩 오류가 있으면 UnicodeError 를 일으키라는 뜻
 - 다른 가능한 값은 'ignore', 'replace', 'xmlcharrefreplace', 'backslashreplace' 와 codecs.register_error() 를 통해 등록된 다른 이름들
 
__str.endswith(suffix[, start[, end]])__
 - 문자열이 지정된 suffix 로 끝나면 True 를 돌려주고, 그렇지 않으면 False 를 돌려줍니다. 
 - 선택적 start 가 제공되면 그 위치에서 검사를 시작
 - 선택적 end 를 사용하면 해당 위치에서 비교를 중단

In [18]:
word = "abcd"
print(word.endswith('d'))
print(word.endswith('e'))
print(word.endswith('b',0,2))
print(word[0:2])

True
False
True
ab

__str.expandtabs(tabsize=8)__

In [19]:
'01\t012\t0123\t01234'.expandtabs(10)

'01        012       0123      01234'

__str.count(sub[, start[, end]])__
 - 범위 [start, end] 에서 부분 문자열 sub 가 중첩되지 않고 등장하는 횟수를 돌려줍니다.

In [20]:
word = "stewnigsgientszcvs"
word.count('s')

4

In [21]:
'Py' in 'Python'

True

__str.format(`*args`, `**kwargs`)__
 - 문자열 포맷 연산을 수행

In [22]:
"The sum of 1 + 2 is {0}".format(1+2)

'The sum of 1 + 2 is 3'

In [23]:
'{name} was born in {country}'.format(name="ABC", country="DDD")

'ABC was born in DDD'

In [24]:
print('%(language)s has %(number)03d quote types.' %
      {'language': "Python", "number": 2})

Python has 002 quote types.

__str.isdecimal()__

__str.isnumeric()__

In [1]:
word="123"
print(word.isdecimal())
print(word.isnumeric())

word="112/32"
print(word.isdecimal())
print(word.isnumeric())

True
True
False
False

__str.replace(old, new[, count])__
 - 모든 부분 문자열 old 가 new 로 치환된 문자열의 복사본을 돌려줍니다. 
 - 선택적 인자 count 가 주어지면, 앞의 count 개만 치환됩니다.

__str.lstrip([chars])__ _rstrip()_ _strip()_
 - 선행 문자가 제거된 문자열의 복사본을 돌려줍니다.
 - chars 인자는 제거할 문자 집합을 지정하는 문자열입니다. 
 - 생략되거나 None 이라면, chars 인자의 기본값은 공백을 제거하도록 합니다. chars 인자는 접두사가 아닙니다;

In [26]:
'   spacious   '.lstrip()

'spacious   '

In [27]:
'www.example.com'.lstrip('www.')

'example.com'

__str.split(sep=None, maxsplit=-1)__
 - sep 를 구분자 문자열로 사용하여 문자열에 있는 단어들의 `리스트`를 돌려줍니다. 
 - maxsplit 이 주어지면 최대 maxsplit 번의 분할이 수행됩니다 (따라서, 리스트는 최대 maxsplit+1 개의 요소를 가지게 됩니다)
 - maxsplit 이 지정되지 않았거나 -1 이라면 분할 수에 제한이 없습니다

In [28]:
'1,2,3'.split(',')

['1', '2', '3']

In [29]:
'1,2,3'.split(',', maxsplit=1)

['1', '2,3']

`포맷 예제`

In [30]:
coord = {'latitude': '37.24N', 'longitude': '-115.81W'}
'Coordinates: {latitude}, {longitude}'.format(**coord)

'Coordinates: 37.24N, -115.81W'

In [31]:
coord = (3, 5)
'X: {0[0]};  Y: {0[1]}'.format(coord)

'X: 3;  Y: 5'

In [32]:
word = "repr() shows quotes: {!r}; str() doesn't: {!s}".format('test1', 'test2')
print(word)

repr() shows quotes: 'test1'; str() doesn't: test2

In [33]:
'{:<30}'.format('left aligned')

'left aligned                  '

In [34]:
'{:>30}'.format('right aligned')

'                 right aligned'

In [35]:
'{:^30}'.format('centered')

'           centered           '

In [36]:
'{:*^30}'.format('centered')  # use '*' as a fill char

'***********centered***********'

In [37]:
'{:,}'.format(1234567890)

'1,234,567,890'

In [38]:
points = 19
total = 22
'Correct answers: {:.2%}'.format(points/total)

'Correct answers: 86.36%'

In [39]:
import datetime
d = datetime.datetime(2010, 7, 4, 12, 15, 58)
print(d)
print(type(d)) # 객체 자료형보기
result = '{:%Y-%m-%d %H:%M:%S}'.format(d)
print(result)
print(type(result))

2010-07-04 12:15:58
<class 'datetime.datetime'>
2010-07-04 12:15:58
<class 'str'>

## 리스트

In [40]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [41]:
squares[-1]

25

In [42]:
squares[-3:]

[9, 16, 25]

In [43]:
copy = squares[:]
print(copy)
squares[0] = 100
print(copy)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [44]:
squares = [1, 4, 9, 16, 25]
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
squares = [1, 4, 9, 16, 25]
squares.append(100)
squares

[1, 4, 9, 16, 25, 100]

In [46]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [47]:
letters[:] = []
letters

[]

In [48]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [49]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

   
 - 클래스의 같지 않은 인스턴스들은 그 클래스가 __eq__() 메서드를 정의하지 않는 이상 보통 같지 않다고 비교됩니다.
 
 - 클래스가 `__lt__()`, `__le__()`, `__gt__()`, `__ge__()` 메서드들을 충분히 정의하지 않는 이상, 클래스의 인스턴스들은 같은 클래스의 다른 인스턴스나 다른 형의 객체와의 순서가 정해지지 않습니다 (일반적으로, 여러분이 비교 연산자의 관습적인 의미를 원한다면 `__lt__()` 와 `__eq__()` 만으로 충분합니다).